body {
  margin: 0;
  width: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  line-height: 21px;

  background-color: #f2f2f2;
}

.page-wrapper {
  margin: 0 40px;
  box-shadow: 0 20px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus,
button:focus {
  outline: 0;
  color: #81b3d2;
}

a:active {
  color: grey;
}

p {
  margin: 0;
  padding: 14px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
.reasons b {
  font-size: 21px;
  font-weight: 700;
}

hr {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  min-height: 584px;

  background-color: #81b3d2;
  background-image: url(../img/pattern-bottom.svg),
    url(../img/background_svg.svg);
  background-size: 102%, auto;
  background-position: bottom, top;
  background-repeat: no-repeat;
}

.main-navigation {
  height: 56px;
  margin: 0 auto;

  font-weight: 700;
  line-height: 26px;

  background-color: white;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.navigation-item {
  width: 239px;
  padding: 14px;

  text-align: center;
}

.index-prewiev {
  position: relative;
  top: 76px;

  text-align: center;
}

.reasons {
  height: 158px;
  padding-top: 40px;

  text-align: center;
  line-height: 26px;

  background-color: white;
}

.reason1,
.reason2 {
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;

  color: white;
}

.reason2 {
  flex-direction: row-reverse;
}

.reason-text {
  flex-grow: 1;
  padding-top: 42px;
  width: 400px;

  color: white;
  text-align: center;

  background-color: #81b3d2;
}

.reason1-image {
  flex-grow: 1;
  min-height: 256px;
  width: 800px;
  background-image: url(../img/Layer_10.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.reason2-image {
  flex-grow: 1;
  min-height: 256px;
  width: 800px;
  background-image: url(../img/Layer_5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 256px;
  margin: 0;

  background-color: white;
}

.advantages-item {
  flex-grow: 1;
  width: 400px;

  text-align: center;
}

.lodging:before {
  content: url(../img/icon-house.svg);
}

.food::before {
  content: url(../img/icon-burger.svg);
}

.gifts::before {
  content: url(../img/icon-gift.svg);
}

.reasons-block {
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;

  background-color: rgb(238, 238, 238);
}

.reasons-item {
  flex-grow: 1;
  width: 398px;
  padding-top: 43px;
  border: 1px solid white;

  text-align: center;
}

.interested {
  height: 236px;
  padding-top: 55px;

  text-align: center;
  line-height: 24px;

  background-color: white;
}

.interested b {
  font-size: 30px;
  font-weight: 700;
}

.interested button {
  position: relative;
  top: 44px;
  padding: 0;
  width: 47%;
  height: 86px;
  border: none;

  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  line-height: 26px;

  background-color: #766357;
}

.interested button:hover,
.interested button:focus {
  background-color: #604e43;
}

.interested :active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
  padding-top: 20px;

  line-height: 26px;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p {
  margin: 0;
}

.footer-contacts {
  flex-grow: 1;
  min-width: 370px;
  min-height: 70px;
}

.footer-contacts div {
  width: 180px;
  margin: 0 auto;

  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  flex-grow: 1;
  min-width: 370px;
  min-height: 70px;
}

.social-list {
  margin: 0 auto;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button path {
  fill: white;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-coopyright {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  min-width: 370px;
  min-height: 70px;

  text-align: center;
}

.coopyright {
  padding-top: 10px;
}

.coopyright-link {
  display: flex;
}

.coopyright-link:hover path,
.coopyright-link:focus path {
  fill: #81b3d2;
}

.coopyright-link:active path {
  fill: grey;
}

.coopyright-name {
  padding-top: 10px;

  text-align: left;
  text-transform: none;
  font-size: 18px;
  line-height: 12px;
}

.index-form {
  width: 47%;
  height: 395px;
  margin: 0 auto;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form {
  padding: 55px;

  font-weight: 700;
  line-height: 26px;
}

.search-form input {
  border: 2px solid transparent;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.form-input {
  width: 346px;
  height: 38px;
  border: none;

  background-color: #ebebeb;
}

.quantity {
  display: flex;
  justify-content: space-between;

  padding-bottom: 40px;
}

.input-number {
  width: 38px;
  height: 38px;
  border: none;

  background-color: #ebebeb;
}

.form-input:hover,
.input-number:hover {
  background-color: rgb(216, 216, 216);
}

.form-input:focus,
.input-number:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.index-form button {
  width: 100%;
  height: 58px;
  padding: 0;
  border: none;

  color: white;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.index-form button:hover,
.index-form button:focus {
  background-color: #669ec0;
}

.index-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Hotels*/

.filters {
  min-height: 217px;
  padding: 26px 75px 0 75px;

  color: white;

  background-color: #81b3d2;
  background-image: url(../img/filter_background.png);
  background-position: center;
  background-repeat: no-repeat;
}

.filters h2 {
  margin: 0;
  padding-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
}

.filters li {
  padding-bottom: 45px;
}

.filters-form {
  display: flex;
  justify-content: space-between;
}

.filters-columns {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.checkbox-item {
  position: relative;
}

.checkbox-description {
  padding-left: 40px;
}

.filters-columns input[type="checkbox"] + .checkbox-label {
  position: absolute;
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.filters-columns input[type="checkbox"]:checked + .checkbox-label {
  position: absolute;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.cost {
  width: 300px;
}

.filters button {
  width: 137px;
  height: 36px;
  border: 2px solid white;

  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 21px;
  text-transform: uppercase;

  background: transparent;
}

.filters button:hover,
.filters button:focus {
  border-radius: 2px;

  color: black;

  background-color: white;
}

.sorting {
  display: flex;
  align-items: center;
  min-height: 86px;
  padding: 0 75px;
  border-bottom: 2px solid #f2f2f2;

  background-color: white;
}

.sorting b {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting span {
  padding-left: 30px;
}

.sorting-list {
  display: flex;
  padding-left: 30px;
}

.sorting-list li {
  padding: 10px;
}

.sorting-button {
  border: none;
  border-bottom: 1px dotted #81b3d2;

  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;

  background-color: inherit;
}

.sorting-button:hover {
  opacity: 1;
  color: #81b3d2;
}

.sorting-button:active {
  opacity: 1;
  color: black;
  border: none;
}

.sorting-button:focus {
  opacity: 1;
  border: none;
}

.arrows-list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.arrow-button {
  margin-left: 10px;
  border: none;
  background: transparent;
}

.arrow-button:hover path {
  fill: black;
}

.arrow-button:active path,
.arrow-button:focus path {
  fill: #81b3d2;
}

.hotels {
  min-height: 450px;

  background-color: white;
}

.hotels-item {
  display: flex;
  min-height: 90px;
  border-bottom: 2px solid #f2f2f2;
  padding: 30px 75px 30px 75px;
}

.hotel-description {
  padding-left: 30px;
}

.hotel-description h2 {
  margin: 0;
  padding-bottom: 10px;
}

.hotel-description table {
  border-spacing: 0;
}

.hotel-description td {
  padding-right: 20px;
  margin-bottom: 10px;
}
