body {
  margin: 0;
  padding: 0 40px;
  width: 1200px;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  line-height: 21px;

  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  color: #81b3d2;
}

a:active {
  color: grey;
}

ul {
  padding: 0;
  list-style: none;
}

h3,
h4 {
  font-size: 21px;
  font-weight: 700;
}

.main-header {
  height: 584px;
  box-shadow: 0 20px 15px rgba(0, 1, 1, 0.2);

  background-color: #81b3d2;
  background-image: url(../img/pattern-bottom.svg),
    url(../img/background_svg.svg);
  background-size: 1202px, auto;
  background-position: bottom, top;
  background-repeat: no-repeat;
}

.main-navigation {
  height: 56px;
  margin: 0 auto;

  font-weight: 700;
  line-height: 26px;

  background-color: white;
}

.navigation-list {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
}

.navigation-item {
  width: 239px;
  padding-top: 14px;

  text-align: center;
}

.index-text {
  padding-top: 76px;

  text-align: center;
}

.container {
  box-shadow: 0 20px 15px rgba(0, 1, 1, 0.2);
}

.reasons {
  height: 158px;
  padding-top: 48px;

  text-align: center;
  line-height: 26px;

  background-color: white;
}

.reasons h2 {
  font-size: 21px;
  font-weight: 700;
}

.reason1 {
  display: flex;
  height: 256px;
  margin: 0 auto;

  color: white;

  background-color: #81b3d2;
}

.reason-text {
  padding-top: 42px;
  width: 400px;

  color: white;
  text-align: center;
  line-height: 21px;
}

.reason1-image {
  width: 800px;
  background-image: url(../img/Layer_10.png);
  background-repeat: no-repeat;
}

.advantages-list {
  display: flex;
  align-items: center;
  height: 256px;
  margin: 0;

  background-color: white;
}

.advantages-item {
  width: 400px;

  text-align: center;
}

.reason2 {
  display: flex;
  flex-direction: row-reverse;
  height: 256px;
  margin: 0 auto;

  color: white;

  background-color: #81b3d2;
}

.reason2-image {
  width: 800px;
  background-image: url(../img/Layer_5.png);
  background-repeat: no-repeat;
}

.reasons-block {
  display: flex;
  height: 256px;

  background-color: rgb(238, 238, 238);
}

.reasons-item {
  width: 400px;
  padding-top: 43px;
  border: 1px solid white;
  text-align: center;
}

.interested {
  height: 236px;
  padding-top: 55px;

  text-align: center;
  line-height: 24px;

  background-color: white;
}

.interested b {
  font-size: 30px;
  font-weight: 700;
}

.interested button {
  margin-top: 44px;
  padding: 0;
  width: 568px;
  height: 86px;
  border: none;

  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  line-height: 26px;

  background-color: #766357;
}

.interested button:hover {
  background-color: #604e43;
}

.interested button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 20px 15px rgba(0, 1, 1, 0.2);
  height: 120px;

  line-height: 26px;

  background-color: rgba(255, 255, 255, 0.5);
}

.footer-contacts {
  max-width: 251px;
  padding-left: 128px;

  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  width: 150px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.footer-coopyright {
  width: 218px;
  padding-right: 128px;

  text-align: center;
}

.form {
  width: 568px;
  height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.hotels-search-form {
  padding: 55px;
  border: 1px solid black;

  font-weight: 700;
  line-height: 26px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.form-input {
  width: 346px;
  height: 38px;
  border: none;

  background-color: rgb(216, 216, 216);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
